<div class="nav">

    <span class="logo">Angular19</span>

    <ul class="list-style">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home </a></li>
        <li><a routerLink="/todo-list" routerLinkActive="active">TODO ListApp </a></li>
        <li><a routerLink="/dyanamic-style" routerLinkActive="active">Dynamic-Style</a></li>
        <li><a routerLink="/directives" routerLinkActive="active">Directives</a></li>
        <li><a routerLink="/routes" routerLinkActive="active">Routes</a></li>
        <li><a routerLink="/forms" routerLinkActive="active">Forms</a></li>
        <li><a routerLink="/pipes" routerLinkActive="active">Pipes</a></li>
        <li><a routerLink="/life-cycle" routerLinkActive="active">Life-Cycle</a></li>
        <li><a routerLink="/service-demo" routerLinkActive="active">Service Demo</a></li>
        <li><a routerLink="/rest-demo" routerLinkActive="active">REST API Demo</a></li>
    </ul>
</div>