<div class="container my-2">
    <div class="card section-card mb-4">
        <h2>Data Transfer Using URL:</h2>
        <p>{{userName}}</p>

        <h2>Data Transfer Using Button click:</h2>
        <div>
            <p>User Name: {{userDetail.name}}</p>
            <p>Age: {{userDetail.age}}</p>
            <p>Email: {{userDetail.email}}</p>
        </div>

        <h2>Data Transfer Using Router:</h2>
        <p>{{personName}}</p>
        <hr>

        <h2>Data Transfer Using Params</h2>
        <p>{{dynamicUserName}}</p>
    </div>
</div>