<div class="container">

    <div class="card-body">
        <h2>Life cycle methods</h2>

        <ul>
            <li>fitst constructor called</li>
            <li>next ngOnInit constructor called</li>
            <li>Other Angular component life cycle stage called i.e ngOnChange etc..</li>
            <li>last ngOnDestroy called</li>
        </ul>

        <hr>

        <div *ngIf="count!=3">
            <h3>First : {{firstCalled}}</h3>
            <h3>Next : {{nextCalled}}</h3>
        </div>

        <button (click)="counter($event)">Counter</button>
    </div>

</div>

<app-footer></app-footer>